.wrapper {
    margin: 5px;
    /* this moves the smiley face away from the edges */
}

.face {
    background-color: yellow;
    border: 2px solid black;
    border-radius: 50px;
    height: 75px;
    width: 75px;

}

.left-eye {
    background-color: black;
    border: 1px solid black;
    border-radius: 25px;
    height: 6px;
    left: 32px;
    position: relative;
    top: 26px;
    width: 6px;
    z-index: 1;
}

.right-eye {
    background-color: black;
    border: 1px solid black;
    border-radius: 25px;
    height: 6px;
    left: 54px;
    position: relative;
    top: 18px;
    width: 6px;
    z-index: 1;
}

.mouth {
    background-color: black;
    border: 1px solid black;
    border-radius: 0 0 45px 45px;
    height: 10px;
    left: 1em;
    margin: 16px;
    position: relative;
    top: 1em;
    width: 30px;
}

#inner-left {
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    height: 2px;
    left: 2px;
    position: relative;
    top: 2px;
    width: 2px;
}

#inner-right {
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    height: 2px;
    left: 2px;
    position: relative;
    top: 2px;
    width: 2px;
}

#tongue {
    background-color: #E75480;
    border: 1px solid #E75480;
    border-radius: 25px 25px 0 0;
    height: 2px;
    left: 10px;
    position: relative;
    top: 7px;
    width: 12px;
}